<!DOCTYPE html>
{% autoescape true %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Fine Young Capitalists</title>
</head>
<body>
<a href="/generateSecurity">Generate Security Code</a> <br>
<a href="/redeemSecurity">Redeem Security Code</a> <br>
<a href="/createNewProject">Create New Project</a> <br>
</body>
</html>
{% endautoescape %}