<!DOCTYPE html>
{% autoescape true %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>


</head>

<body>

          <hr>
          <form action="/SubmitCauseImage" enctype="multipart/form-data" method="post">
          <div><label>Submit Your Image</label></div>
          <div><input type="file" name="img"/></div>
          <input type="submit" value="switch"></form>



</body>
{% endautoescape %}