<!DOCTYPE html>
{% autoescape true %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Fine Young Capitalists</title>
<link href="tfyc1.css" type="text/css" rel="stylesheet">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46822508-2', 'thefineyoungcapitalists.com');
  ga('send', 'pageview');

</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="jquery.scrollTo-min.js"></script>
<script src="countdown.js" type="text/javascript"></script>
<link rel="icon" 
      type="image/png" 
      href="http://www.thefineyoungcapitalists.com/Icon.png">


<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>




</head>
	
<body>

<div class="header">
	<div class="centrado">
		<a href="https://www.facebook.com/thefineyoungcapitalists" target="_blank">
			<div id="face-btn"></div>
		</a>
		<a href=" https://twitter.com/TFYCapitalists" target="_blank">
			<div id="twt-btn"></div>
		</a>
		<a href="http://www.youtube.com/channel/UChwoDCOjliin3x0Y_ShiGGw" target="_blank">
			<div id="youb-btn"></div>
		</a>
	</div>
</div>










<div id="contenedor7">

	<div class="wrapper_centrado">
	
		<img src="AllFeministsTogether.png" width="800" height="334" /><br>

		<h1>
		 If I have seen further it is by standing on the shoulders of giants<br><br>
		</h1>
		
		<h4>
		All modern representations of Women have been shaped by Feminism. And it's important to understand that even if you are not familiar with these scholars they have shaped your world view in ways that you might not even be aware. <br><br>
</h4>
<h5>
Dorothy Edith Smith - The Boss from Metal Gear Solid<br><br>
</h5>
<h4>
Dorothy Edith Smith (born July 6, 1926) <i> is</i>  a professor in the Department of Sociology at the University of Victoria. Her expertise spans many different disciplines including women’s studies, psychology and educational studies as well as sociology where she is a world renown expert in feminist theory.<br><br>

Smith was born in Northallerton, Yorkshire England, on July 6, 1926. She did her undergraduate work at the London School of Economics, earning her B.S.c in Sociology with a Major in Social Anthropology in 1955,moved to the United States where she attended the University of California, Berkeley where she earned her Ph.D in Sociology in 1963. In 1967 she moved to Vancouver British Columbia to teach at the University of British Columbia where she established a Women’s Studies Program. In 1977 she moved to Toronto, Ontario to work at the Ontario Institute of Studies in Education until she retired.In 1994 she returned to teaching as an adjunct professor at the University of Victoria.<br><br>

Her scholarship, includes numerous books and articles across several disciplines with example being Writing the Social: Critique, Theory, and Investigations (1999); The Conceptual Practices of Power: A Feminist Sociology of Knowledge (1990); Texts, Facts, and Femininity: Exploring the Relations of Ruling(1990); The Everyday World is Problematic: A Feminist Sociology (1987) and Feminism and Marxism: A Place to Begin, A Way to Go (1977) She has earned numerous honors  including the American Sociological Association's Career of Distinguished Scholarship Award (1999), the Jessie Bernard Award for Feminist Sociology (1993), and two awards from the Canadian Sociology and Anthropology Association; the Outstanding Contribution Award (1990) and the John Porter Award for The Everyday is Problematic (1990)<br><br>
</h4>
<h5>
Sandra L. Bartky - Zelda<br><br>
</h5><h4>
Sandra L. Bartky (born May 5, 1935) is a professor of philosophy and gender studies at the University of Illinois at Chicago. She did her undergraduate and graduate work at the University of Illinois at Urbana, but studies at the University of Bonn and the University of Munich in Germany, as well as in the University of California, Los Angeles in the United States.<br><br>
Bartky is associated with the cultural ideals of feminine embodiment in “advanced” industrial societies. As part of a general philosophical critique of “femininity,” she has also applied certain poststructuralist insights into the problem of “feminine’ embodiment. Bartky approaches feminist philosophy without a fixed methodology and so has used phenomenology, existentialism, post structuralism and Marxism to get to core of issue related to femininity. Bartky believes that "class" is largely ignored in very contemporary feminist theory, for this reason she finds certain elements of Marxism and Critical Theory essential. She has essay on the moral and epistemic consequences of female deference in caregiving to men, on the kinds of access to the experience of the Other that are possible and desirable, on certain experiences of aging and on shame and guilt.<br><br>
</h4>
<h5>
Judith Butler - Professor Oak (Because she’s the best one to answer the question “Are you a boy or a girl?”<br><br>
</h5>
<h4>

Judith Butler (born February 24, 1956) is Maxine Elliot Professor in the Departments of Rhetoric and Comparative Literature and the Co-director of the Program of Critical Theory at the University of California, Berkeley, where she has taught since 1993.<br><br>
She is best known for her works  Gender Trouble: Feminism and the Subversion of Identity and Bodies That Matter: On the Discursive Limits of "Sex," where she challenges the sex/gender distinction and develops her theory of gender performativity. Butler is considered by many as "one of the most influential voices in contemporary political theory, and as the most widely read and influential gender theorist in the world.<br><br>
Her books include Subjects of Desire: Hegelian Reflections in Twentieth Century France (1987, 1999), Gender Trouble: Feminism and the Subversion of Identity (1990, 2007), Bodies that Matter: On the Discursive Limits of "Sex" (1993, 2011), Excitable Speech: A Politics of the Performative (1997), The Psychic Life of Power: Theories in Subjection (1997), Antigone’s Claim: Kinship Between Life and Death (2000), Undoing Gender (2004), Precarious Life: Powers of Violence and Mourning (2004), Giving an Account of Oneself (2005), Krieg und Affect (2009), Frames of War: When is Life Grievable? (2009). <br><br>
</h4>
<h5>
Naomi R. Wolf  - Yuna from Final Fantasy<br><br>
</h5>
<h4>
Naomi R. Wolf (born November 12, 1962) is an American author and former political consultant. She became a leading spokesperson of what would be described as the third wave of feminist movement with her book “The Beauty Myth.”<br><br>
Wolf was born in San Francisco, the attended Yale University in 1984, and received her Bachelor of Arts in English Literature and was a Rhodes Scholar from 1985 -1987 at the New College, Oxford. <br><br>
In 1991 she published the international bestselling book The Beauty Myth. In the book, she argues that "beauty" as a normative value is entirely socially constructed, and that the patriarchy determines the content of that construction with the goal of reproducing its own hegemony. Wolf posits the idea of an "iron-maiden," an intrinsically unattainable standard that is then used to punish women physically and psychologically for their failure to achieve and conform to it. Wolf criticized the fashion and beauty industries as exploitative of women, but added that the beauty myth extended into all areas of human functioning. Wolf writes that women should have "the choice to do whatever we want with our faces and bodies without being punished by an ideology that is using attitudes, economic pressure, and even legal judgments regarding women's appearance to undermine us psychologically and politically".<br><br>
Other feminist works include Promiscuities a report on and analysis of the shifting patterns of contemporary adolescent sexuality. Misconceptions examines modern assumptions surrounding pregnancy and childbirth. She has also publish political works such as The End of America and Give Me Liberty.<br><br>

</h4><h5>Debra Gimlin - Samus Aran from Metroid	</h5><h4><br>

To be written <br><br>
</h4>

		<h1>
		 To support their work and to expand upon it we have created these videos using their theories.<br><br> Please read the essays below created by Samantha Walsh to understand our intention. But remember that these video are an interptation of her work and not a representation.<br><br>
		</h1>
		
<br><br><br><br><a href="http://goo.gl/KnS7PY">Sex and Power</a> <br><br>

<iframe margin="70px 0 0 0" width="675" height="455" src="//www.youtube.com/embed/0eN-Gmmfd0E?rel=0" frameborder="0" allowfullscreen></iframe> <br>

<br><br><br><br><a href="http://goo.gl/rqftDx">Grizzled Brown Haired Man</a><br> <br>

<iframe margin="70px 0 0 0" width="675" height="455" src="//www.youtube.com/embed/EbpJRFFUjIQ?rel=0" frameborder="0" allowfullscreen></iframe><br>

<br><br><br><br><a href="http://goo.gl/tM5T1f">Grief</a> <br><br>


<iframe margin="70px 0 0 0" width="675" height="455" src="//www.youtube.com/embed/A058HfLYlMw?rel=0" frameborder="0" allowfullscreen></iframe><br>


</div>
</div>


<div class="header">
	<div class="centrado">
		<a href="https://www.facebook.com/thefineyoungcapitalists" target="_blank">
			<div id="face-btn"></div>
		</a>
		<a href=" https://twitter.com/TFYCapitalists" target="_blank">
			<div id="twt-btn"></div>
		</a>
		<a href="http://www.youtube.com/channel/UChwoDCOjliin3x0Y_ShiGGw" target="_blank">
			<div id="youb-btn"></div>
		</a>
	</div>
</div>


</html>
{% endautoescape %}