<!DOCTYPE html>
{% autoescape true %}
<html>
<body>
<form action="/submitIdea" method="post">
    <input value = "{{name}}" name = "name"><br>
    <input value = "{{tagline}}" name = "tagline"><br>
    <input value = "{{genres}}" name = "genres"><br>
    <input value = "{{describe}}" name = "describe"><br>
    <input value = "{{original}}" name = "original"><br>
    <input value = "{{look}}" name = "look"><br>
    <input value = "{{who}}" name = "who"><br>
    <input value = "{{email}}" name = "email"><br>
    <input value = "{{additionalInfo}}" name = "additionalInfo"><br>
    
    
    <input type="radio" name="residenceStatus" value="a">A<br>
    <input type="radio" name="residenceStatus" value="b">B<br>
    <input type="radio" name="residenceStatus" value="c">C<br>
    <input type="radio" name="residenceStatus" value="d">D<br>
    
    <input type="checkbox" name="legal1" value="Yes" {{legal1}}>Legal 1<br>
    <input type="checkbox" name="legal2" value="Yes" {{legal2}}>Legal 2<br>
    <input type="checkbox" name="legal3" value="Yes" {{legal3}}>Legal 3<br>

	<input type="checkbox" name="VisibleToEveryone" value="Yes" {{legal3}}>Visible to Everyone<br>
	<input type="checkbox" name="ReadyForReview" value="Yes" {{legal3}}>Ready for Review<br>


    <input type = "submit" value ="switch">


</form>
</body>
</html>
{% endautoescape %}