<!DOCTYPE html>
{% autoescape true %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Fine Young Capitalists</title>
<link href="tfyc.css" type="text/css" rel="stylesheet">
<style type="text/css">
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
</style>

<link rel="icon" 
      type="image/png" 
      href="http://www.thefineyoungcapitalists.com/Icon.png">

</head>

<body>
<div class="ss-form-container"><div class="ss-top-of-page">


<div class="ss-form-heading">
<div class="topIcon">
<img src="Website.png" width="600" height="545" alt="TFYC Logo"/>
</div>
<body>
<div class="ss-form-container"><div class="ss-top-of-page">

<hr class="ss-email-break" style="display:none;">
<div class="ss-required-asterisk">* Required</div></div></div>
<div class="ss-form"><form action="https://docs.google.com/forms/d/1jw8kv7Dg7pxtjBJcqIFAFQvj4rTxpnXiMhiGYhBK5OM/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol style="padding-left: 0">
<div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_1432835386"><div class="ss-q-title">The Name Of Your Game
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr">Make it memoriable</div></label>
<input type="text" name="entry.1432835386" value="" class="ss-q-short required" id="entry_1432835386" dir="auto" aria-label="The Name Of Your Game Make it memoriable " aria-required="true" required="" title="">
<div class="error-message"></div>
<div class="required-message">This is a required question</div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_1386506195"><div class="ss-q-title">Tagline
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr">What your game is about in 1 sentance</div></label>
<input type="text" name="entry.1386506195" value="" class="ss-q-short" id="entry_1386506195" dir="auto" aria-label="Tagline What your game is about in 1 sentance " aria-required="true" required="" title="">
<div class="error-message"></div>
<div class="required-message">This is a required question</div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_615953424"><div class="ss-q-title">Genres
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr">Don't know Video Games Genres, Go Here</div></label>
<input type="text" name="entry.615953424" value="" class="ss-q-short" id="entry_615953424" dir="auto" aria-label="Genres Don't know Video Games Genres, Go Here " aria-required="true" required="" title="">
<div class="error-message"></div>
<div class="required-message">This is a required question</div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry"><label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_1468800876"><div class="ss-q-title">Describe your game in less then 4000 characters
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.1468800876" rows="8" cols="0" class="ss-q-long" id="entry_1468800876" dir="auto" aria-label="Describe your game in less then 4000 characters  Be Concise" aria-required="true" required=""></textarea>
<div class="error-message">Be Concise</div>
<div class="required-message">This is a required question</div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry"><label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_1787031399"><div class="ss-q-title">Describe what makes your game original in less then 4000 characters
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.1787031399" rows="8" cols="0" class="ss-q-long" id="entry_1787031399" dir="auto" aria-label="Describe what makes your game original in less then 4000 characters  Must be fewer than 4000 characters." aria-required="true" required=""></textarea>
<div class="error-message">Must be fewer than 4000 characters.</div>
<div class="required-message">This is a required question</div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry"><label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_1428268655"><div class="ss-q-title">Describe what you imagine your game will look like in less then 4000 characters
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.1428268655" rows="8" cols="0" class="ss-q-long" id="entry_1428268655" dir="auto" aria-label="Describe what you imagine your game will look like in less then 4000 characters  Must be fewer than 4000 characters." aria-required="true" required=""></textarea>
<div class="error-message">Must be fewer than 4000 characters.</div>
<div class="required-message">This is a required question</div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry"><label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_2049722378"><div class="ss-q-title">Describe who you are and why we should care in 4000 characters
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.2049722378" rows="8" cols="0" class="ss-q-long" id="entry_2049722378" dir="auto" aria-label="Describe who you are and why we should care in 4000 characters  Must be fewer than 4000 characters." aria-required="true" required=""></textarea>
<div class="error-message">Must be fewer than 4000 characters.</div>
<div class="required-message">This is a required question</div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_589554871"><div class="ss-q-title">Your Email
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr">So we can contact you if your proposal is chosen.</div></label>
<input type="text" name="entry.589554871" value="" class="ss-q-short" id="entry_589554871" dir="auto" aria-label="Your Email So we can contact you if your proposal is chosen. " aria-required="true" required="" title="">
<div class="error-message"></div>
<div class="required-message">This is a required question</div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_853306955"><div class="ss-q-title">Additional Information for us to consider
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.853306955" rows="8" cols="0" class="ss-q-long" id="entry_853306955" dir="auto" aria-label="Additional Information for us to consider  "></textarea>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>

</div></div></div> <div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-checkbox"><div class="ss-form-entry"><label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_594899590"><div class="ss-q-title">All of the information I've submitted is my own and all of the information is now considered part of the "Public Domain" and is not subject to copyright.
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr">Warning by agreeing to this term, your work may be used by other with out attribution or monetary payment.</div></label>

<ul class="ss-choices ss-choices-required" role="group" aria-label="All of the information I've submitted is my own and all of the information is now considered part of the &quot;Public Domain&quot; and is not subject to copyright. Warning by agreeing to this term, your work may be used by other with out attribution or monetary payment. "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1485553562" value="I Agree" id="group_1485553562_1" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">I Agree</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1485553562" value="I Do Not Agree" id="group_1485553562_2" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">I Do Not Agree</span>
</label></li></ul>
<div class="error-message"></div>
<div class="required-message">This is a required question</div>
</div></div></div>
<input type="hidden" name="draftResponse" value="[]
">
<input type="hidden" name="pageHistory" value="0">


<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Submit" id="ss-submit">
</td>
</tr></tbody></table></div></ol></form></div></div>
</body>
{% endautoescape %}