<!DOCTYPE html>
{% autoescape true %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Fine Young Capitalists</title>
<link href="tfyc1.css" type="text/css" rel="stylesheet">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="countdown.js" type="text/javascript"></script>
<link rel="icon" 
      type="image/png" 
      href="http://www.thefineyoungcapitalists.com/Icon.png">


<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>

</head>
	
<body>

<div class="header">
	<div class="centrado">
		<a href="https://www.facebook.com/thefineyoungcapitalists" target="_blank">
			<div id="face-btn"></div>
		</a>
		<a href=" https://twitter.com/TFYCapitalists" target="_blank">
			<div id="twt-btn"></div>
		</a>
		<a href="http://www.youtube.com/channel/UChwoDCOjliin3x0Y_ShiGGw" target="_blank">
			<div id="youb-btn"></div>
		</a>
	</div>
</div>

<div id="botonera">
	<a href="/submitWIVG" target="_blank">
		<div id="apply"></div>
	</a>
	<a href="https://docs.google.com/document/d/1_JYfc6oAtvEB-yFPUQZBUiZzcAFOkT0PiVjPWkj7i4s/edit?usp=sharing" target="_blank">
		<div id="faq"></div>
	</a>
	<a href="https://www.indiegogo.com/projects/the-fine-young-capitalists" target="_blank">
		<div id="support"></div>
	</a>
	
	
	
</div>

<div id="left-botonera">
	<a href="/FrontPage1" target="_blank">
		<div id="reddit"></div>
	</a>

	<a href="/FrontPage2" target="_blank">
		<div id="podcast"></div>
	</a>


	
</div>

<div id="contenedor1">
	<div class="wrapper_centrado">
		<img src="logo-TFYC.png" width="530" height="500" alt="TFYC Logo" />
	</div>
	<div id="patron1"></div>
</div>

<div id="contenedor2">
	<div class="wrapper_centrado">
		<div class="wrapper_video">
			<iframe style="margin:70px 0 0 0" width="675" height="455" src="//www.youtube.com/embed/w1vTZ6wVBNU" frameborder="0" allowfullscreen></iframe>
		</div>
		<img src="estrellas.png"  alt="TFYC stars" />
	</div>
</div>

<div id="contenedor3">
	<div id="patron2"></div>
	<div class="wrapper_centrado">
		<img src="2011.png" alt="TFYC info about girls in videogames" />
	</div>
</div>




<div id="contenedor5">
	<div id="patron4rojo">
	</div>
	<div class="top_p">
		<div class="wrapper_centrado">
			<img src="thats.png">
		</div>	
	</div>	
	<div class="wrapper_centrado">
		<img src="320.png">
		<img src="250.png">
		<img src="16.png">
		<p>
			The business of games, is a big business, with real people <br>
			doing real work, but certain people are being clearly under <br>
			represented in key areas.
		</p>
	</div>
</div>

<div id="contenedor6">
	<div class="patron6"></div>

	<div class="wrapper_centrado">
		<img src="women.png">
		<br>
		<br>
		<br>
		<h1>
			THERE ARE MORE MOTHERS AND POTENTIAL <br>
			MOTHERS PLAYING VIDEO GAMES THAN 18 YEARS <br>
			OLDS THREATENING TO HAVE SEX WITH YOURS
		</h1>
		<br>
		<br>
		<br>
		<br>
		<h3>
			If you take all the games sold in 2011 and rank <br>
			them by sales, one out of the top fifty was <br>
			directed/created by a woman. This is what we <br>
			in the business world refer to as an <br>
			underutilized labour market.
		</h3>
		<br>
		<br>
		<br>
		<h3>
			This isn't about woman getting employed in <br>
			video games; there are thousand of women <br>
			already employed at all levels of the <br> 
			industry. This is about giving exposure to an <br> 
			underrepresented group of game creators. 
		</h3>

	</div>
</div>

<div id="contenedor4">

	<div class="top_p">
		<div class="wrapper_centrado">
			The Fine Young Capitalists' mission is to create media <br>
			using underrepresented labour, for unexplored <br>
			demographics to fund non-profit organizations.
			<br> <br>

			<h3>
				CREATING THE MEANS FOR THE PRODUCTION
			</h3>
		</div>
	</div>	

	<div class="wrapper_centrado">
		<img src="how-works.png" alt="TFYC info about girls in videogames" />
		<img src="01.png"> <br>
		<img src="02.png"> <br>
		<img src="03.png"> <br>
		<img src="04.png"> <br>
		<img src="05.png"> <br>
		<img src="06.png"> 
	</div>	
	
</div>

<div id="footer">
	<div id="patron5">
	</div>
	<div class="wrapper_centrado">
		<img src="footer.png">
		<p>
			Media inquires can contact us at <a href="mailto:media@thefineyoungcapitalists.com">Media@thefineyoungcapitalists.com</a>
		</p>
	</div>

</div>

<div class="ss-form-container">
	<div class="topIcon">
		
	</div>

</div>
</body>
<script type="text/javascript">
	$(function(){
		var pos,pos_abr;
		var m_widget = true;
		$(window).resize(function() {
			
			pos = ($(window).width() - $('#botonera').css('width').split('px')[0] )+'px';
			$('#botonera').css('left',pos);

		});
		
		var calcular = function(){
			
			pos = ($(window).width() - $('#botonera').css('width').split('px')[0] )+'px';
			$('#botonera').css('left',pos);

		}
		
		
		var tiempo_animacion = 200;
		var botones = function(){
			$('#apply').mouseenter(function(){
				$(this).animate({
					left:'0'
				},tiempo_animacion)
			}).mouseleave(function(){
				$(this).animate({
					left:'10px'
				},tiempo_animacion)
			});
			$('#faq').mouseenter(function(){
				$(this).animate({
					left:'0'
				},tiempo_animacion)
			}).mouseleave(function(){
				$(this).animate({
					left:'10px'
				},tiempo_animacion)
			});
			$('#support').mouseenter(function(){
				$(this).animate({
					left:'0'
				},tiempo_animacion)
			}).mouseleave(function(){
				$(this).animate({
					left:'10px'
				},tiempo_animacion)
			});

			//left side

			$('#reddit').mouseenter(function(){
				$(this).animate({
					left:'0'
				},tiempo_animacion)
			}).mouseleave(function(){
				$(this).animate({
					left:'-10px'
				},tiempo_animacion)
			});

			$('#podcast').mouseenter(function(){
				$(this).animate({
					left:'0'
				},tiempo_animacion)
			}).mouseleave(function(){
				$(this).animate({
					left:'-10px'
				},tiempo_animacion)
			});



		}

		botones();
		calcular();
	});

</script>

</html>
{% endautoescape %}