<!DOCTYPE html>
{% autoescape true %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Fine Young Capitalists</title>
<link href="tfyc1.css" type="text/css" rel="stylesheet">
<script src="countdown.js" type="text/javascript"></script>
<link rel="icon" 
      type="image/png" 
      href="http://www.thefineyoungcapitalists.com/Icon.png">


<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>

</head>
	
<body>

<div class="header">
	<div class="centrado">
		<div id="face-btn"></div>
		<div id="twt-btn"></div>
		<div id="youb-btn"></div>
	</div>
</div>

<div id="contenedor1">
	<div class="wrapper_centrado">
		<img src="logo-TFYC.png" width="530" height="500" alt="TFYC Logo" />
	</div>
	<div id="patron1"></div>
</div>

<div id="contenedor2">
	
</div>


<div class="ss-form-container">
	<div class="topIcon">
		
	</div>

</div>
</body>
</html>
{% endautoescape %}