<!DOCTYPE html>
{% autoescape true %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Fine Young Capitalists</title>
<link href="tfyc1.css" type="text/css" rel="stylesheet">
<script src="countdown.js" type="text/javascript"></script>
<link rel="icon" 
      type="image/png" 
      href="http://www.thefineyoungcapitalists.com/Icon.png">
<link href="http://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet" type="text/css">
</head>

<body>
<div class="ss-form-container">
<div class="topIcon">
<img src="Website.png" width="600" height="545" alt="TFYC Logo" />
</div>


<div align="center">
<div class="wrapper_centrado">
<h3>
The Fine Young Capitalists Will Be Accepting Applications in
</h3>
<br>
</div>
<script>
var myCountdown1 = new Countdown({
								 	year	: 2014,
									month	: 3, 
									day		: 3,
									width	: 300, 
									height	: 40,
									width		: 400,	
									height		: 60,
									rangeHi		: "month",		
									rangeLo		: "second",
									});

</script>


</div>
</div>
</body>
</html>
{% endautoescape %}