<!DOCTYPE html>
{% autoescape true %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>
Due to unforeseen circumstances The Fine Young Capitalists' Girls for Games Contest is postponed until further notice. Any and all submissions received to-date will remain active entries and will be considered valid when the contest reopens in coming months.

We deeply apologize for any inconvenience. We value your effort and your enthusiasm for this initiative and request that you consider submitting your ideas at a later date. We look forward to reading them!

We will update you as information becomes available. Further inquiries can be made at WIVG@thefineyoungcapitalists.com. Thank you for your patience and understanding.

</body>



</html>
{% endautoescape %}