<!DOCTYPE html>
{% autoescape true %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Fine Young Capitalists</title>
<link href="tfycBrown.css" type="text/css" rel="stylesheet">
<script src="jquery-1.10.2.min.js" type="text/javascript"></script>
<link rel="icon" 
      type="image/png" 
      href="http://www.thefineyoungcapitalists.com/Icon.png">


<script>
function myFunction()
{
document.getElementById("StepOne").style.visibility='hidden' ;
document.getElementById("StepOne").style.height= '0px'  ;

var iDiv = document.createElement('div');
iDiv.id = 'CreateMe';
iDiv.className = 'ss-form-container';
document.getElementsByTagName('body')[0].appendChild(iDiv);




   ifrm = document.createElement("IFRAME"); 
   ifrm.setAttribute("src",   "https://docs.google.com/forms/d/1ajWizRHBWGAtVRAwCVN0OjvecyayF8FTqqR5tjL2vgs/viewform?embedded=true&bc=952e1f&htc=f49308&lc=f49308&tc=f49308&f=;}"); 
   ifrm.style.width = 800+"px"; 
   ifrm.style.height = 2300+"px"; 
   ifrm.frameBorder="0";
   ifrm.marginHeight="0";
   ifrm.marginWidth="0";
	iDiv.appendChild(ifrm);
   

}

</script>

</head>

<body>
<div class="ss-form-container">
<div id="StepOne">
<div class=ss-secondary-text>
<p>All applicant must read the contest rules in their entirety to be allowed to submit an application to The Fine Young Capitalists. </p>

<div id="Terms" style="width: 800px; overflow: auto; height: 400px;">
<p><br id="docs-internal-guid-1955e3b2-7225-bb4c-6ec7-ac772f5ec723" />
</p>
<p dir="ltr">Terms and conditions </p>
<br />
<p dir="ltr">These terms and conditions govern your, either on your own or acting as a representative of a group (the &ldquo;Participant&rdquo;) participation in, through submission of a proposal (&ldquo;Proposal&rdquo;), and the administration of, &nbsp;the WIVG (the &ldquo;Competition&rdquo;) by The Fine Young Capitalists (&ldquo;TFYC&rdquo;) and their member Matthew Rappard (the &ldquo;Bondsman&rdquo;)</p>
<p dir="ltr">Participant </p>
<ul>
  <li dir="ltr">
    <p dir="ltr">A Participant can only be associated with one entry.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">A Proposal may be submitted by a group of persons (the &ldquo;Group&rdquo;.)</p>
  </li>
</ul>
<ul>
  <ul>
    <li dir="ltr">
      <p dir="ltr">For a Proposal submitted by a group of persons to be valid, each and every member of the Group must be able to qualify as an individual Participant. </p>
    </li>
    <li dir="ltr">
      <p dir="ltr">Each member of a Group that submits a Proposal hereby agrees to be bound by these Terms and Conditions. </p>
    </li>
    <li dir="ltr">
      <p dir="ltr">Each Proposal submitted by a group shall be represented by one member of the Group (&ldquo;Nominee&rdquo;) as its representative and agent for the purposes of these Terms and Conditions. </p>
    </li>
    <li dir="ltr">
      <p dir="ltr">TFYC shall only communicate with the Nominee of a particular group for the purpose of the Competition and these Terms and Conditions.</p>
    </li>
    <li dir="ltr">
      <p dir="ltr">In the event that a group wishes to change its Nominee after submission of a Proposal, TFYC shall accept such change only upon the written request of each member of the Group and shall make changes in its records within a commercially reasonable time and within no more than 14 calendar days.</p>
    </li>
  </ul>
</ul>
<p dir="ltr">Number of Prizes </p>
<ul>
  <li dir="ltr">
    <p dir="ltr">The Originality of the idea as related to game play, use of the medium, story and aesthetic, as determined by a group of experts to be chosen by TFYC - 10 Points</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">The Proposals shall be judged in the manner described below and the the Prizes at the end of the Competition shall be awarded are as follows: </p>
  </li>
</ul>
<ul>
  <ul>
    <li dir="ltr">
      <p dir="ltr">One Winning Proposal. The Participant behind the Proposal adjudged to have the highest number of points (the &ldquo;Winning Proposal&rdquo;) will be offered the following: a) development of the Proposal into a game (the &ldquo;Game&rdquo;) with the ability to provide input into the game development process; and b) the opportunity to receive 8% of Net Profits from all revenue generated from the Game, including sales or licensing. &ldquo;Net Profits&rdquo; for the purposes of these Terms and Conditions means is defined as the total amount of profit that is made from sales minus all applicable taxes and expenses including royalties.</p>
    </li>
  </ul>
</ul>
<ul>
  <ul>
    <ul>
      <ul>
        <li dir="ltr">
          <p dir="ltr">The Winning Proposal&rsquo;s eligibility will be subject to entering into a separate software license agreement (&ldquo;Software Licence&rdquo;) provided to the Participant(s) who has/have submitted the Winning Proposal. In the event that the Software Licence is not executed by the Winners within ___ days of Notification, as defined below, of the Prizes by TFYC, the designation of the Winning Proposal may be withdrawn by TFYC, without further notice, and TFYC shall, in their absolute and unfettered discretion in such choice, choose one or more among the five runners-up (&ldquo;Substitute Winners&rdquo;) and offer the benefits offered to the Winners to the Substitute Winners, subject to the execution of the Software Licence by the Substitute Winners.</p>
        </li>
        <li dir="ltr">
          <p dir="ltr">Five Runners-Up. The Participant behind the Proposal adjudged to be among the five runners up will be provided a two page document which includes concept art and a written description of the game for the purposes of pitching the game to developers and the internet community.&quot;</p>
        </li>
      </ul>
    </ul>
  </ul>
</ul>
<p dir="ltr">Procedure for selecting winners </p>
<br />
<p dir="ltr">The Proposals will be judged by a panel, consisting of at least 5 nominees of TFYC, including the Bondsman, and other people previously involved in the game industry or in software design and development, &nbsp;and awarded points out of 80 on the following basis: </p>
<ul>
  <li dir="ltr">
    <p dir="ltr">The Originality of the idea as related to game play, use of the medium, story and aesthetic, as determined by a group of experts to be chosen by TFYC - 10 Points</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">The Financial viability of the game as related to audience, expected revenue, and the ability to continual monetize the property over time, as determined by a group of experts to be chosen by TFYC - 10 Points</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">The level of immersion or fun the user will have by playing the game, related to the interface, gameplay, progression and community involvement as determine by a &nbsp;group of experts to be chosen by TFYC. - 10 Points </p>
  </li>
  <li dir="ltr">
    <p dir="ltr">The presentation of the game as explain in the proposal related to the aesthetic of the game and any sound assets as determined by a group of experts to be chosen by TFYC - 10 Points</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Feasibility: The proposal will be judged on the feasibility of the game to be produced on a budget of $50,000 in a 6 month time frame. Factors including the length, graphics requirements, music and sound requirements, networking, back end server support and programming complexity will be used to determine this score. This score will be determined by an experienced video game programmer &nbsp;chosen by TFYC - &nbsp;40 Points</p>
  </li>
</ul>
<p dir="ltr">The point categories described above are for guidance purposes only for the judges and shall not be necessarily determinative of the panel&rsquo;s final decision, which shall be in its complete discretion. The panel may vary the weightage given to different characteristics. The panel or TFYC has no obligation to maintain records of its deliberations or to provide any such records to Participant or any third party.</p>
<p dir="ltr">Notification </p>
<br />
<ul>
  <li dir="ltr">
    <p dir="ltr">All winners will be notified in writing at the contact details provided in their Proposal (the &ldquo;Notification&rdquo;) within 30 days of the Competition Closing Time.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">All Notifications will be provided by the Bondsman from the following email address: congratulations@thefineyoungcapitalists.com.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">TFYC has no obligation to provide a Notification to anyone else other than the Participant.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">TFYC reserve the right to withdraw any notification of a prize at any time, in the event of administrative error in the judging or notification of prizes, or in the event of any disqualification on account of non-compliance with these Terms and Conditions. For clarity, in the event that TFYC notifies more winners than are prizes available or if it notifies two Participants as winners of one prize, TFYC reserves the right to withdraw the prize from one or all such notified parties.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">In the event that TFYC&rsquo;s does not receive acknowledgement of notification of winning entries with 5 days or if it, after that period, determines in its sole discretion, that the notification has not been, TFYC reserves the right to immediately disqualify the Proposal or withdraw judgement of the Proposal as a winning entry.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Participant can find out who has won a particular competition by contacting TFYC at WhoWonWIVG@thefineyoungcapitalists.com after 30 days have passed after the Competition Closing time.</p>
  </li>
</ul>
<p dir="ltr">Expected number of participants and Odds of Winning </p>
<br />
<ul>
  <li dir="ltr">
    <p dir="ltr">The odds of winning a Prize are dependent on the number of qualifying entries received by the Competition Closing Time &nbsp;on the 1 day of February, 2014 at 12 noon in Toronto, Canada (EST). &nbsp;TFYC reserves the right, in its sole discretion, to extend the Competition Closing Time at any time.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">The maximum number of entries that will be accepted by TFYC will be 10,000 and odds in the event of the maximum number of entries being reached will be 5/10,000.</p>
  </li>
</ul>
<p dir="ltr">General Terms </p>
<br />
<ul>
  <li dir="ltr">
    <p dir="ltr">The Competition are not open to employees (or members of their immediate families) of TFYC or its affiliates.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">No purchase is necessary to enter the Competition.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">The Competition is governed by the laws of the Province of Ontario. Any legal complaint or dispute arising from these Terms and Conditions shall be exclusively subject to binding documents-only arbitration under the LCIA rules in the English language, in Toronto, Canada.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Each person may only be affiliated with or submit one entry. This means Participant cannot participate on his/her own &nbsp;in addition to being part of a group participation, or repeatedly through multiple groups. In the event of multiple submissions of work through multiple Participants, TFYC reserves the right to either accept the first submitted entry or disqualify all entries that include any duplicated work.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Submitting a form on this website is not proof that TFYC has received Participant's entry. If TFYC has received Participant's entry, Participant will receive an acknowledgement. Participant agrees that TFYC has no liability to Participant if Participant's entry is unintentionally lost or delayed by TFYC in its administration of the Competition. Participant hereby agrees to release TFYC from any liability resulting from interaction with TFYC&rsquo;s website, including in respect of any loss of, any damage to, or resulting loss therefrom, their computer hardware or software or Personal Information.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Proposals with incorrect or incomplete information may be disqualified. TFYC may, in its absolute and unfettered discretion for clarification of incomplete information in Proposals, contact Participants, or allow Participants to provide information, as long as the original Proposal was submitted before the Competition Closing Time.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">TFYC reserves the right to amend these rules at any time. If TFYC does so, it will publish the amended competition rules and/or specific competition rules on the Competition webpage located at [Insert url].</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">TFYC reserves the right to disqualify any Proposal as an entry into the Competition for any violation of these terms and conditions no matter how trivial. Any disqualification of any Proposal by TFYC shall not be a waiver of any of Participant&rsquo;s obligations or TFYC&rsquo;s corresponding rights under these Terms and Conditions.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Any waivers or variations of these Terms and Conditions by TFYC may only be made explicitly, and in writing by the Bondsman.</p>
  </li>
</ul>
<p dir="ltr">&nbsp;&nbsp;&nbsp; Privacy Law </p>
<br />
<ul>
  <li dir="ltr">
    <p dir="ltr">Consent to Use of Personal information. Participant hereby consent to providing Personal Information to TFYC for the purposes of administering the Competition.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">By entering the Competition, Participant agrees to participate in such promotional activity and material as TFYC may reasonably require and hereby provides her consent for TFYC to use her name and personal information for such publicity and promotional activity.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Participant agrees not to embed or insert within the Proposal, any Personal Information that is not reasonably apparent to TFYC.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Personal Information for the purposes of these Terms and Conditions means identifying information, about individual persons, provided by Participant, as part of the Proposal, through interaction with TFYC&rsquo;s website, or in communication with TFYC for the purposes of participation in the Competition, including, but not limited to: name (full name or first initial and last name), maiden name, nickname, email address, home address, home postal code, home telephone number, mobile telephone number, date of birth, photographic images (especially of face or other identifying characteristics, or other identifying characteristics such as eye, skin, and hair colour, facial features, and personal marks such as tattoos, birthmarks, moles and scars) and video or voice recording.</p>
  </li>
</ul>
<p dir="ltr">&nbsp;&nbsp;&nbsp; </p>
<p dir="ltr">Representations </p>
<br />
<ul>
  <li dir="ltr">
    <p dir="ltr">Participant is of female sex and gender or is transgender but identifying as female in sex or gender at the date of submission of the Proposal. </p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Participant is above 18 years of age.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Participants owns or can freely licence all the intellectual property in the materials submitted by Participant to TFYC, on a worldwide royalty-free irrevocable basis.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Participant is a resident of a Canadian province other than Quebec OR Participant agrees to provide the waiver and indemnity below and has informed the &ldquo;Administrators of my location of residence (city, province/state, country.)</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Participant will not transfer or assign or attempt to transfer or assign any rights from participation in the Competition to any other person.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Participant has previously licensed (whether to TFYC or to another party) material &nbsp;in the Proposal under the creative commons licence located here <a href="http://creativecommons.org/licenses/by/4.0/legalcode">http://creativecommons.org/licenses/by/4.0/legalcode</a>. The Participant agrees to provide a further written confirmation of these representations upon request by TFYC.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Participant has generated all submitted material by herself or in concert with others that have given consent as a group for attribution of the submitted material to her as a representative of the group, and has not obtained the material in any fraudulent or improper manner including but not limited to, through the violation of another&rsquo;s IP or confidentiality rights.</p>
  </li>
</ul>
<br />
<p dir="ltr">&nbsp;&nbsp;&nbsp; Intellectual Property </p>
<br />
<ul>
  <li dir="ltr">
    <p dir="ltr">All material in the Proposal is hereby licensed to TFYC for all use in respect of administering the competition/contest.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">All material in the Proposal is licensed to TFYC on a worldwide, irrevocable, royalty-free basis subject to any reservations of rights specified herein.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Any licences or assignments of rights in any intellectual property derived from materials Participant submits, or intellectual property in derivative works, other than intellectual property in the underlying works, are not subject to any reservations in Participant's favour.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">All intellectual property in derivative works of submitted material is and shall upon creation by TFYC be the property of TFYC. </p>
  </li>
  <li dir="ltr">
    <p dir="ltr">TFYC reserves all legal rights to the title and use of any knowledge gained from administering the contest, in whatever form, that is not explicitly codified and requiring a licence in a manner specified herein.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">All artwork generated for the Runner Up Prizes shall be subject the licence to located at : <a href="http://creativecommons.org/licenses/by-nd/4.0/legalcode">http://creativecommons.org/licenses/by-nd/4.0/legalcode</a> (the &ldquo;Creative Commons Licence.&rdquo;)</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">All promotional materials specific to the Prizes shall, upon creation, be subject to the Creative Commons Licence. All promotional materials related to the Competition but not specific to the Prizes shall be the property of TFYC.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr">Intellectual property in all aspects of software and associated documentation, in any form, including object code and user interface components and design, generated by TFYC, or on its behalf, from any material included in the Proposal, shall be the exclusive property of TFYC.</p>
  </li>
</ul>
</div>

<p>I understand these terms and conditions as written, I understand that I will be licensing my work to The Fine Young Capitalists for the purposes of video game production. I understand that any work I create will be licensed under the Creative Commons &quot;<span property="dc:title dct:title">Attribution-NoDerivatives 4.0 International</span>&quot; license as such my work may be viewed by other outside the organization of The Fine Young Capitalists.</p>

<button onclick="myFunction()">I Agree</button>
</div>


</div>
</div>

</body>



</html>
{% endautoescape %}