<!DOCTYPE html>
{% autoescape true %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>


</head>

<body>
<table style="width:300px">

{% for CauseTriple in Causes %}

<tr>

{% for Cause in CauseTriple %}
  <td> <a href="/EditCauses?id={{Cause}}">Link</a> </td>
{% endfor %}

</tr>
{% endfor %}
</table>

</body>
{% endautoescape %}