@import "reset.css";
/*Variables*/
/*Mixins*/
/*Before elements*/
.ss-required-asterisk {
  color: #f49308;
}
.topIcon {
  text-align: center;
}
.ss-q-long {
  resize: vertical;
  width: 70%;
}
.ss-q-short {
  resize: vertical;
  width: 70%;
}
.ss-secondary-text {
  color: #f49308;
}
.ss-q-title {
  display: block;
  font-weight: bold;
}
.required-message {
  color: transparent;
}
/*New site*/
body {
  color: white;
  font-family: 'Special Elite';
  background: #B3262A;
}
.header {
  /*background: url(patron-barra.png) repeat;*/

  width: 100%;
  height: 92px;
  position: fixed;
  z-index: 999;
}
.header .centrado {
  width: 1000px;
  margin: auto;
}
.header .centrado #face-btn {
  background: url(botonera2.png);
  width: 55px;
  height: 59px;
  float: left;
  margin: 10px 20px;
  margin: 10px 20px 0px 380px;
  background-position: 0px 0px;
}
.header .centrado #twt-btn {
  background: url(botonera2.png);
  width: 55px;
  height: 59px;
  float: left;
  margin: 10px 20px;
  background-position: 0px -132px;
}
.header .centrado #youb-btn {
  background: url(botonera2.png);
  width: 55px;
  height: 59px;
  float: left;
  margin: 10px 20px;
  background-position: 0px -264px;
}
.header .centrado #face-btn:hover {
  background-position: 0px -66px;
}
.header .centrado #twt-btn:hover {
  background-position: 0px -198px;
}
.header .centrado #youb-btn:hover {
  background-position: 0px -330px;
}
#botonera {
  width: 150px;
  height: 320px;
  position: fixed;
  z-index: 999999;
  top: 50px;
}
#botonera #apply {
  width: 161px;
  height: 95px;
  background: url(apply.png) no-repeat center;
  cursor: pointer;
  float: right;
  position: relative;
  left: 10px;
}
#botonera #faq {
  width: 135px;
  height: 87px;
  background: url(faq.png) no-repeat center;
  cursor: pointer;
  float: right;
  position: relative;
  left: 10px;
}
#botonera #support {
  width: 135px;
  height: 87px;
  background: url(support.png) no-repeat center;
  cursor: pointer;
  float: right;
  position: relative;
  left: 10px;
}
#left-botonera {
  width: 200px;
  position: fixed;
  top: 40px;
  height: 300px;
  z-index: 99999;
}
#left-botonera #reddit {
  width: 200px;
  height: 136px;
  background: url(reddit2.png) center no-repeat;
  float: left;
  position: relative;
  left: -10px;
}
#left-botonera #podcast {
  width: 200px;
  height: 136px;
  background: url(podcast2.png) center no-repeat;
  float: left;
  position: relative;
  left: -10px;
}
#contenedor1 {
  width: 100%;
  height: 800px;
  z-index: 1;
  background: #B3262A;
}
#contenedor1 .wrapper_centrado {
  width: 1000px;
  margin: auto;
  text-align: center;
  position: relative;
  top: 122px;
}
#contenedor1 p {
  width: 50px;
  margin: auto;
  position: relative;
  top: 180px;
  text-align: center;
  font-size: 12px;
}
#contenedor1 #patron1 {
  margin: 220px 0;
  width: 100%;
  height: 77px;
  background: url(patron01.png) repeat;
}
#contenedor2 {
  width: 100%;
  height: 700px;
  z-index: 1;
  background: black;
}
#contenedor2 .wrapper_centrado {
  width: 1000px;
  margin: auto;
  text-align: center;
}
#contenedor2 .wrapper_centrado .contenedor_support {
  width: 298px;
  height: 559px;
  margin: 100px auto 0 auto;
  background: url(fondo_contador.png) center no-repeat;
}
#contenedor2 .wrapper_video {
  width: 900px;
  height: 598px;
  background: url(fondo-video.png) center no-repeat;
  margin: auto;
}
#contenedor3 {
  width: 100%;
  height: 570px;
  z-index: 1;
  background: #f0961e;
}
#contenedor3 #patron2 {
  width: 100%;
  background: url(patron02.png);
  height: 25px;
}
#contenedor3 .wrapper_centrado {
  width: 1000px;
  margin: auto;
  text-align: center;
  position: relative;
  top: 30px;
}
#contenedor4 {
  width: 100%;
  height: 1600px;
  z-index: 1;
  background: #b42828;
}
#contenedor4 .top_p {
  width: 100%;
  height: 164px;
  z-index: 1;
  background: url(patron03.png);
  margin: 40px 0 0 0 ;
}
#contenedor4 .top_p .wrapper_centrado {
  width: 1000px;
  margin: auto;
  text-align: center;
  font-size: 16pt;
  line-height: 115%;
  letter-spacing: 0px;
  position: relative;
  top: 27px;
}
#contenedor4 .top_p .wrapper_centrado h3 {
  font-size: 18pt;
  letter-spacing: 2px;
}
#contenedor4 .wrapper_centrado {
  width: 1000px;
  margin: auto;
  height: 1000px;
  margin: 120px auto 0 auto;
  text-align: center;
}
#contenedor5 {
  width: 100%;
  height: 1050px;
  z-index: 1;
  background: #f0961e;
}
#contenedor5 #patron4rojo {
  width: 100%;
  height: 40px;
  background: url(patron04.png);
}
#contenedor5 .top_p {
  width: 100%;
  height: 340px;
}
#contenedor5 .top_p .wrapper_centrado {
  width: 1000px;
  margin: auto;
  text-align: center;
}
#contenedor5 .wrapper_centrado {
  width: 1000px;
  margin: auto;
  text-align: center;
}
#contenedor5 .wrapper_centrado p {
  margin: 80px 0 0 0;
  font-size: 16pt;
  line-height: 115%;
  letter-spacing: 0px;
}
#contenedor6 {
  width: 100%;
  height: 1850px;
  z-index: 1;
  background: #b42828;
  color: #f0961e;
}
#contenedor6 .patron6 {
  width: 100%;
  height: 150px;
  background: url(patron6.png) repeat;
}
#contenedor6 .wrapper_centrado {
  width: 1000px;
  margin: auto;
  text-align: center;
  position: relative;
  top: 50px;
}
#contenedor6 .wrapper_centrado h1 {
  text-align: left;
  font-size: 20pt;
  line-height: 120%;
  letter-spacing: 2px;
  width: 700px;
  margin: auto;
}
#contenedor6 .wrapper_centrado h3 {
  text-align: left;
  width: 400px;
  margin: auto;
  line-height: 120%;
}
#footer {
  width: 100%;
  height: 330px;
  z-index: 1;
  background: black;
}
#footer #patron5 {
  width: 100%;
  height: 29px;
  background: url(patron05.png);
}
#footer .wrapper_centrado {
  width: 1000px;
  margin: auto;
  text-align: center;
  position: relative;
  top: 50px;
}
#footer .wrapper_centrado p {
  color: #f0961e;
  margin: 15px 0 0 0;
}
#footer .wrapper_centrado p a {
  text-decoration: none;
  color: #f0961e;
}
#footer .wrapper_centrado p a:hover {
  text-decoration: none;
  color: #b42828;
}
#submit_idea .wrapper_centrado {
  width: 1000px;
  margin: auto;
  font-family: 'Special Elite';
  margin: 20px auto 20px auto;
}
#submit_idea .wrapper_centrado .titulo-form {
  background: url("mancha-titulo.png") center no-repeat;
  height: 147px;
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin: 30px 0 15px 0px;
  text-decoration: underline;
  padding: 100px 0 0 0;
}
#submit_idea .wrapper_centrado .margini {
  margin: 8px 0 10px 20px !important;
}
#submit_idea .wrapper_centrado .input {
  width: 900px;
  margin: 8px 0 0 20px;
}
#submit_idea .wrapper_centrado .radio {
  margin: 8px 0 0 20px;
}
#submit_idea .wrapper_centrado .estrellas {
  width: 173px;
  height: 22px;
  margin: auto;
  background: url("estrellas.png");
}
#submit_idea .wrapper_centrado .descripcion {
  margin: 5px 0 0 0;
  font-size: 10pt;
}
#submit_idea .wrapper_centrado .btn-submit {
  background: url("boton.png") no-repeat;
  background-size: 134px 72px;
  width: 134px;
  height: 72px;
  border: none;
  cursor: pointer;
  margin: 0 0 30px 435px;
}
#submit_idea .wrapper_centrado textarea {
  resize: none;
  margin: 8px 0 10px 20px !important;
}
#submit_idea .wrapper_centrado .botones {
  width: 100%;
  margin: 20px 0 20px 0;
  text-align: center;
  color: #f0961e;
  font-size: 19px;
}
#submit_idea .wrapper_centrado .comentarios {
  margin: 30px 0 0 0;
}
a {
  color: #f0961e;
}
